body * {
    font-family: "Roboto Condensed",sans-serif;
}
body > div {
    padding:0.5em 1em;
}
body > div#container {
    padding-top: 2em;
}

div.note {
    clear: both;
    font-size: 0.9em;
    font-style: italic;
}

div.note p {
    margin: 0;
}

div#footer {
    font-size: 0.8em;
}

div#options {
    /*border: 1px solid red;*/
}

div#chart {
    /*border: 1px solid blue;*/
}

div#legend {
    float: right;
}

@media screen and (max-width: 500px) {
    div#legend {
        float: none;
    }
}
div#legend hr {
    margin: 0.5rem 0;
    border-color: #cecece;
}

div#legend div span.color {
    display: inline-block;
    height: 0.8rem;
    width: 0.8rem;
    margin: 0.1rem 0.5rem 0.1rem 0.1rem;
}
div#legend div span.color.recession {
    background-color: #ECECEC;
}
div#legend div span.color.corporation {
    background-color: #4670A7;
}
div#legend div span.color.llc {
    background-color: #B94A48;
}
div#legend div span.color.other {
    background-color: #6da53f;
}

div.legend-entry.highlight {
}
div.legend-entry.lowlight {
    color: #ECECEC;
    font-style: italic;
}

.axis path,
.axis line {
  fill: none;
  stroke: #4A4A4A;
}

g.bar-group rect.bar.highlight,
g.bar-group.highlight rect.bar {}

g.bar-group rect.bar.lowlight,
g.bar-group.lowlight rect.bar {
    opacity: 0.2;
}

rect.bar.corporation {
    fill: #4670A7;
}
rect.bar.llc {
    fill: #B94A48;
}
rect.bar.other {
    fill: #6da53f;
}

rect.hover-target {
  fill: #FFFFFF;
  fill-opacity: 0;
}

.barchart-tip {
  color: #FFFFFF;
  background-color: #4A4A4A;
  /*padding: 0.25rem 0.5rem;*/
  padding: 1rem;
  font-weight: bold;
  border-radius: 0.1rem;
  text-align: center;
  line-height: 1;
}
.barchart-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

div#value-label p {
    margin: 0;
}

div#value-label p.placeholder,
div#value-label p.value {
    padding-left: 1rem;
}

div#value-label p.value {
    display: none;
}

div#value-label p.placeholder > span:first-child,
div#value-label p.value > span:first-child {
    font-weight: bold
}

div#value-label p.placeholder > span:last-child,
div#value-label p.value > span:last-child {
    padding-left: 1rem;
}


div#value-label p.placeholder > span:first-child:after,
div#value-label p.value > span:first-child:after {
    content: ":";
}
@media screen and (min-width: 500px) {
    div#value-label p.highlight {
        display: block;
    }
}
@media screen and (max-width: 499px) {
    div#value-label p.highlight {
        display: block;
    }

    div#value-label {
        display: block;
    }
}

div#value-label.highlight p.placeholder {
    display: none;
}