body * {
    font-family: "Roboto Condensed",sans-serif;
}
body > div {
    padding:0.5em 1em;
}

div.note {
    clear: both;
    font-size: 0.9em;
    font-style: italic;
}

div.note p {
    margin: 0;
}

div#footer {
    font-size: 0.8em;
}

div#map {
    display: block;
    margin: 0 1em;
    width: calc(100% - 2em);
    height:400px;
}

button.active {
    color: #FFFFFF!important;
    background-color: #4670A7!important;
}

div#map g {
    stroke: #4A4A4A;
}

div.legend {
    background-color: #ffffff;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
}

div#options div.checkbox {
    display: inline-block;
}

div.legend span {
    margin:0.25em 0;
}
div.legend span.title {
    font-weight: bold;
}
div.legend span.subtitle {
    font-size: 0.9em;
}

div.legend div.entry span {
  width:1em;
  display:inline-block;
  height: 1em;
  float:left;
  margin-right:0.25em;
}
div.legend div.entry span.increase {
    background-color: #6DA53F;
}
div.legend div.entry span.decrease {
    background-color: #B94A48;
}

path {
    opacity: 1;
    fill-opacity: 1;
    stroke-opacity: 1;
    stroke: #4a4a4a;
    stroke-width: 1px;
}

path.increase {
    fill: #6DA53F;
}

path.decrease {
    fill: #B94A48;
}

path.highlight {
    stroke-width: 5px;
}