div#map {
    display: block;
    width: 100%;
    height:90vh;
}

div#map g {
    stroke: #4A4A4A;
}

div.legend {
    background-color: #ffffff;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
}

div#options div.checkbox {
    display: inline-block;
}

div.legend h3.title {
    margin:0.25em 0;
}
div.legend h4.subtitle {
    margin:0.25em 0;
}

div.legend div.entry span {
  width:1em;
  display:inline-block;
  height: 1em;
  float:left;
  margin-right:0.25em;
}

button.active {
    color: #FFFFFF!important;
    background-color: #4670A7!important;
}

.colornone {
    color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(0,0,0,0);
    fill: rgba(0,0,0,0);
}
.color0 {
    color: #FFFFFF;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    fill: #FFFFFF;
}

.color1 {
    color: #006837;
    background-color: #006837;
    border: 1px solid #006837;
    fill: #006837;
}
.color2 {
    color: #66bd63;
    background-color: #66bd63;
    border: 1px solid #66bd63;
    fill: #66bd63;
}
.color3 {
    color: #a6d96a;
    background-color: #a6d96a;
    border: 1px solid #a6d96a;
    fill: #a6d96a;
}
.color4 {
    color: #fdae61;
    background-color: #fdae61;
    border: 1px solid #fdae61;
    fill: #fdae61;
}
.color5 {
    color: #d73027;
    background-color: #d73027;
    border: 1px solid #d73027;
    fill: #d73027;
}