g.axis text {
    font-size: 0.8em;
}
g.axis g.tick line {
    stroke: #4A4A4A;
    stroke-width: 1px;
}
g.axis path.domain {
    fill-opacity: 0;
    stroke: #4A4A4A;
    stroke-width: 1px;
}

path.line {
    stroke-width: 1px;
    fill-opacity: 0;
}